.post {
    background-color: #51ff25;
    display: grid;
    grid-template-areas:
            "img text";
    grid-template-rows: 1fr ;
    grid-template-columns: 2fr  10fr;
    margin: 15px;
    padding: 10px;

}

.text {
    grid-area: text;
    display: grid;
    grid-template-areas:
            "massage massage"
            ". like";
    grid-template-rows: 1fr 20px;
    grid-template-columns: 1fr  50px;

}

.massage {

    grid-area: massage;

}
.like {
    grid-area: like;
}

.img {
    grid-area: img;
    width: 60px;
}