
.addPostsWrapper {
    padding: 15px;
}

.text {
    height: 55px;
    padding-bottom: 10px;
}

.text textarea {
    width: 100%;
    height: 55px;
    resize: none;
}

.btn {
    text-align: end;
}

.error {
    color: red;
    margin: 5px 0;
}