.postForm {
    display: flex;
    flex-direction: column;
    
    &__text {
        height: 60px;
    }
    
    &__btn {
        padding-top: 5px;
        align-self: flex-end;
    }
}

.error {
    padding-right: 10px;
    font-family: 'Oxygen', 'serif';
    font-size: 18px;
}