.addMessageWrapper {
	margin-left: 10px;
}
.btnWrapper {
	margin-top: 5px;

}
.text textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    margin: 0;
    border: 0;
}
.text textarea {
    height: 75px;

}
.btn {
	border: none;
	padding: 5px 15px 5px 15px;
	margin: 0;
	background: white;

}
.btn:hover {
	background: #f1f1f1;
}
.error {
    color: red;
    display: inline-block;
    padding-left: 10px;
}

