.dialog {
    display: flex;
    height: 90px;
    padding-left: 15px;
    
}

.dialog__avatar {
    align-self: center;
}

.img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dialog__content {
    margin-left: 20px;
    align-self: center;
    
    a {
        color: #1F2326;
        font-family: 'Oxygen', 'serif';
        font-size: 20px;
        
    }
}

.lastMessage {
    margin-top: 5px;
    color: #505155;
    font-family: 'Oxygen', 'serif';
}
