.header {
    background-color: #1F2326;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerWrapper {
    display: flex;
}

.header__logo {
    width: 50px;
}

.header__title {
    color: #fff;
    flex-grow: 1;
    font-family: 'Oxygen', 'serif';
    font-size: 30px;
    align-self: center;
    margin-left: 30px;
}

.header__login {
    flex-shrink: 2;
    color: #fff;
    align-self: center;
}

.img {
    border-radius: 50%;
    width: 100%;
    background-color: #fff;
}

.login__on {
    
    a {
        display: block;
        border: solid 1px #fff;
        padding: 5px 10px;
        color: #fff;
        font-family: 'Oxygen', 'serif';
        font-size: 20px;
        
        &:hover {
            background-color: #505155;
        }
    }
}

.of__name {
    font-size: 25px;
    font-family: 'Oxygen', 'serif';
    margin-right: 10px;
}
.of__button {
    display: inline-block;
    border: solid 1px #fff;
}