.nav {
    grid-area: nav;
    background-color: honeydew;
    padding: 10px;
}

.item {
    padding-bottom: 5px;
}

.item a {
    text-decoration: none;
    color: cornflowerblue;
}

.item a.active {
    color: red;
}
