.wrapperUsers {
    min-height: 500px;
}

.btnFriend {
    border: none;
    padding: 5px 15px 5px 15px;
    margin: 4px 0 0 0;
    background: white;

}

.btnFriend:hover {
    background: #f1f1f1;
}

.wrapperUser {

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 'wrapperAVA wrapperDiscription';
    min-height: 150px;
    margin: 10px;
}

.wrapperAVA {
    padding: 5px;
    background-color: darkgray;
    grid-area: wrapperAVA;
}

.wrapperDiscription {
    padding: 5px;
    background-color: darkgray;
    grid-area: wrapperDiscription;
}

.img {
    height: 100px;
    width: 100px;
}

