.profileWrapper {
    grid-area: profileInfoWrapper;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 15px;
}

.picture img {
    width: 200px;
    height: 200px;
}
.picture {
}

.info {
    padding: 10px;
}
.info > div {
    padding-bottom: 8px;
}
