.profileInfoWrapper {
    grid-area: profileInfoWrapper;
    padding: 15px;

}

.picture img {
    width: 200px;
    height: 200px;
}

.picture {
}

.info {
    padding: 10px;
}

.info > div {
    padding-bottom: 8px;
}

.contact {
    padding-left: 10px;
}

.status {
    cursor: pointer;
}