.app-wrapper {
    display: grid;

    margin: 0 auto;

    grid-template-areas:
            "header header header header"
            " . nav Profile ."
            ". . Profile ."

;
    grid-template-rows: 60px max-content max-content;
    grid-template-columns: 2fr 3fr 10fr 2fr;
    gap: 15px;
    padding-bottom: 20px;
}

.app-wrapper-content {
    grid-area: Profile;
    background-color: pink;

}


a {
    text-decoration: none;
    color: #000000
}


