
.dialogs_wrapper {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 1fr 130px;
grid-template-areas:
        'dialogs messages'
        'dialogs sendmessage'
;

}

.dialogs {
    padding: 10px;
    grid-area: dialogs;
}

.messages {
    grid-area: messages;
}

.sendmessage {
    grid-area: sendmessage;
}


