
.dialogs_wrapper {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 1fr 130px;
grid-template-areas:
        'dialogs massages'
        'dialogs sendmassage'
;

}

.dialogs {
    padding: 10px;
    grid-area: dialogs;
}

.massages {
    grid-area: massages;
}

.sendmassage {
    grid-area: sendmassage;
}


