.dialogs {
    display: flex;
    flex-direction: row;
    background-color: #FF4656;
}

.dialogs__items {
    flex-basis: 25%;
    border: solid 2px #1F2326;
}

.dialogs__messagesBox {
    flex-basis: 75%;

}

